cmd/fahcli/fahcli
cmd/fahcli/fahcli-pi
cmd/fahinflux/.fahapi-config.json
cmd/fahinflux/fahinflux
cmd/fahinflux/fahinflux-pi
cmd/fahvswitch/.fahapi-config.json
cmd/fahvswitch/fahvswitch
cmd/fahvswitch/fahvswitch-pi
go.mod.dev
.idea